@if (preview) {
<div class="preview">
  <!-- preview.background hace un request directo, sin pasar por data.ts -->
  <div class="vista"
       [ngStyle]="{'background-image': 'url('+preview.background+')', 'font-size': fontSize, 'padding-top': preview.paddingTop}">
    <div class="contenido">
      @for (elemento of preview.estructura; track elemento.value) {
      @if (elemento.tipo == 'parrafo') {
      <p [ngStyle]="{
          'font-size': (elemento.fontSize / 10) + 'em',
          'font-weight': elemento.fontWeight == 'bold' ? '800' : 400,
          'margin-top': elemento.marginTop ?? '0',
          'text-align': elemento.textAlign ?? 'left'
          }"
         [innerHTML]="elemento.value">
      </p>
      }
      @if (elemento.tipo == 'tabla') {
      <table class="tabla"
             [ngStyle]="{
                'font-size': (elemento.fontSize / 10) + 'em',
                'font-weight': elemento.fontWeight == 'bold' ? '800' : 400,
                'margin-top': elemento.marginTop ?? '0',
                }">
        <thead>
          <tr>
            @for (encabezado of elemento.value.encabezados; track $index) {
            <th [innerHTML]="encabezado"></th>
            }
          </tr>
        </thead>
        <tbody>
          @for (fila of elemento.value.filas; track fila) {
          <tr>
            @for (celda of fila; track celda) {
            <td [innerHTML]="celda"></td>
            }
          </tr>
          }
        </tbody>
        @if (elemento.value.pie) {
        <tfoot>
          <tr>
            @for (pie of elemento.value.pie; track $index) {
            <td class="celda-pie"
                [attr.colspan]="pie.colspan"
                [innerHTML]="pie.texto">
            </td>
            }
          </tr>
        </tfoot>
        }
      </table>
      }
      @if (elemento.tipo == 'firma') {
      <mgp-firma-certificado [ngStyle]="{'font-size': (elemento.fontSize / 10) + 'em', 'font-weight': elemento.fontWeight == 'bold' ? '800' : 400}"
                             [firma]="elemento.value" />
      }
      }
    </div>
  </div>
</div>
}