.menu {
  .menu-item-activo {
    background-color: var(--p-surface-200) !important;

    @media (prefers-color-scheme: dark) {
      background-color: var(--p-surface-600) !important;
    }
  }
  .item {
    min-width: 16em;
    display: flex;
    .icono {
      width: 1.75em;
      text-align: center;
      overflow: hidden;
    }
    .texto {
      margin-left: 0.25rem;
    }
  }
}
