.edita-firma {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  .firma-card {
    position: relative;
    border: 1px solid var(--p-surface-0);
    border-radius: var(--p-card-border-radius);
    .imagen {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--p-surface-0);
      max-height: 144px;
      img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }
    .datos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.25em;
      .dato {
        text-align: center;
        width: 100%;
      }
      .nombre {
        font-weight: 800;
      }
      .cargo {
        color: var(--p-text-muted-color);
      }
      .fecha {
        font-size: 0.75em;
      }
    }
    .overlay-eliminar {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.85);
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
      .texto {
        height: 2em;
        color: var(--p-primary-contrast-color);
        margin: 0 3em;
        text-align: center;
      }
      .controles {
        display: flex;
        justify-content: space-evenly;
        margin-top: 4em;
      }
    }
  }
}
