@if (hayFirmas) {
<div class="edita-firma">
  @for (firma of firmas; track $index) {
  @if (firma.metadata){
  <p-card class="firma-card"
          [style]="{'max-width': '20em', 'overflow': 'hidden', 'position': 'relative'}">
    <ng-template #header>
      <div class="imagen">
        <img [src]="firma.url"
             [alt]="'Firma de ' + firma.metadata.nombres + ' ' + firma.metadata.apellidos" />
      </div>
    </ng-template>
    <div class="datos">
      <div class="nombre dato"
           [innerHTML]="firma.metadata.nombres + ' ' + firma.metadata.apellidos">
      </div>
      <div class="cargo dato"
           [innerHTML]="firma.metadata.cargo">
      </div>
      <div class="fecha dato">
        <span>Creada: </span>
        <span [innerHTML]="firma.metadata.fecha | date:'d/M/yyyy, h:mm a'"></span>
      </div>
    </div>
    @if (confirmaciones[$index]) {
    <div class="overlay-eliminar"
         @confirm>
      <div class="texto">
        ¿Realmente desea eliminar esta firma?
      </div>
      <div class="controles">
        <p-button icon="pi pi-times"
                  (onClick)="confirmaciones[$index] = false"
                  label="Cancelar" />
        <p-button icon="pi pi-trash"
                  severity="danger"
                  (onClick)="eliminaFirma(firma, $index)"
                  label="Eliminar" />
      </div>
    </div>
    }
    <ng-template #footer>
      <div class="controles">
        <p-button icon="pi pi-trash"
                  [style]="{'width': '100%'}"
                  severity="danger"
                  (onClick)="confirmaEliminacion($index)"
                  label="Eliminar" />
      </div>
    </ng-template>
  </p-card>
  } @else {
  <p>ERROR</p>
  <p>No se encontraron los datos de esta firma</p>
  <p>{{firmas | json}}</p>
  }
  } @empty {
  <p>ERROR</p>
  <p>No se encontraron firmas en el sistema</p>
  }
</div>
} @else {
<p-progress-spinner />
}