<p-card header="Edición de documentación profesoral">
  <div class="edicion">
    <div class="header">
      <div class="selector">
        <h4>Seleccione el profesor/a por nombre o cédula</h4>
        @if (cargandoProfesores == 100) {
        <p-autocomplete [(ngModel)]="profesor"
                        [dropdown]="true"
                        [suggestions]="profesoresFiltrados"
                        optionLabel="nombre"
                        placeholder="Buscar por nombre o cédula"
                        [minLength]="1"
                        (completeMethod)="filtrarProfesores($event)"
                        (onSelect)="seleccionaProfesor($event)" />
        } @else {
        <p-progressbar [value]="cargandoProfesores"
                       style="width: 16em" />
        }
      </div>
    </div>
    @if (profeSeleccionado) {
    <div class="cuerpo">
      <p-panel header="Ficha profesoral"
               class="ficha-profesor">
        <p-table [value]="claves(profeSeleccionado)"
                 showGridlines
                 size="small">
          <ng-template #header>
            <tr>
              <th>Información</th>
              <th>Contenido</th>
            </tr>
          </ng-template>
          <ng-template #body
                       let-dato>
            <tr>
              <td class="dato">{{labels[dato]}}</td>
              <td>{{profeSeleccionado[dato]}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
      <p-panel header="Documentación"
               class="archivos">
        <div class="acciones">
          <p-tag severity="info"
                 [value]="'Seleccionados: ' + numSel()" />
          <div class="botones">
            <p-button pTooltip="Agregar un documento a la hoja de vida"
                      tooltipPosition="top"
                      severity="success"
                      (onClick)="accionesArchivos('add')"
                      icon="pi pi-plus" />
            <p-button [pTooltip]="'Descargar ' + plural('el') + ' documento' + plural() + ' seleccionado' + plural()"
                      tooltipPosition="top"
                      [disabled]="numSel() < 1"
                      (onClick)="accionesArchivos('download')"
                      icon="pi pi-download" />
            <p-button pTooltip="Ver información del documento seleccionado"
                      tooltipPosition="top"
                      [disabled]="numSel() != 1"
                      severity="info"
                      (onClick)="accionesArchivos('watch')"
                      icon="pi pi-eye" />
            <p-button pTooltip="Reemplazar el documento seleccionado por otro documento"
                      tooltipPosition="top"
                      [disabled]="numSel() != 1"
                      severity="warn"
                      (onClick)="accionesArchivos('change')"
                      icon="pi pi-refresh" />
            <p-button [pTooltip]="'Eliminar ' + plural('el') + ' documento' + plural() + ' seleccionado' + plural()"
                      tooltipPosition="top"
                      [disabled]="numSel() < 1"
                      severity="danger"
                      (onClick)="accionesArchivos('delete')"
                      icon="pi pi-trash" />
          </div>
        </div>
        <p-tree [value]="arbolArchivos"
                selectionMode="checkbox"
                [(selection)]="archivosSeleccionados" />
      </p-panel>
    </div>
    }
  </div>
</p-card>
<p-dialog [header]="tituloDialogo"
          [(visible)]="dialogoVisible"
          [closable]="dialogoCerrable"
          modal="true">
  @if(tipoDialogo === 'watch' || tipoDialogo === 'download') {
  <mgp-download-preview [modo]="modoDocumento"
                        [profesor]="profeSeleccionado"
                        [archivos]="archivos"
                        (cerrar)="cerrarDialogo()" />
  } @else if (tipoDialogo === 'delete') {
  <mgp-borra-documentos [profesor]="profeSeleccionado"
                        [archivos]="archivos"
                        (finEliminar)="obtieneArchivos()" />
  }
  @else {
  ¡¡No hay accion!!
  }
  @if (dialogoCerrable) {
  <ng-template #footer>
    <div class="footer">
      <p-button severity="warn"
                label="Cerrar"
                (onClick)="dialogoVisible = false"
                icon="pi pi-times" />
    </div>
  </ng-template>
  }
</p-dialog>