:host {
  ::ng-deep {
    .p-datatable .p-datatable-tbody > tr > td,
    .p-datatable .p-datatable-thead > tr > th {
      padding: 0.25rem !important;
    }
  }
}
.datos {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 1rem;
  padding: 1rem;
  //max-width: 800px;
  width: 100%;
  .parrafo {
    width: 100%;
  }
  .tabla {
    .pie-tabla {
      display: flex;
      gap: 1rem;
      .input-pie-tabla {
        flex: 1 1 auto;
      }
    }
  }
  .edit-firma {
    .field {
      align-items: baseline;
      input {
        height: 1rem;
      }
    }
  }
}
