.validacion {
  .certificado {
    .solicitud {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 1rem;
      .campo {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 16em;
        label {
          font-weight: 700;
          font-size: 0.8em;
        }
        small {
          font-size: 0.7em;
        }
      }
    }
    .tabla-cert {
      .botones {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
