<div class="dashboard">
  <div class="categorias"
       [class.vacio]="!categorias">
    @if (categorias) {
    <p-tabs (onChange)="init()"
            [value]="0">
      <p-tablist>
        @for (superior of categorias; track superior.key) {
        <p-tab [value]="$index"
               [innerHTML]="superior.label" />
        }
      </p-tablist>
      <p-tabpanels>
        @for (superior of categorias; track superior.key; let numCat = $index) {
        <p-tabpanel [value]="$index">
          <h4>
            Total de {{calculaTotales(numCat).label.toLowerCase()}} en el RUND: {{calculaTotales(numCat).cantidad}}
          </h4>
          @for (categoria of superior.children; track categoria.key) {
          <p-panel class="charts"
                   [toggleable]="true"
                   [header]="categoria.label">
            @if (suficientesNodos(categoria)) {
            @for (nodo of categoria.children; track nodo.key) {
            <mgp-chart [data]="nodeData(nodo, superior.label)" />
            }
            } @else {
            <div class="no-suficiente">
              <div class="texto">
                No hay suficientes datos para mostrar los gráficos.
              </div>
            </div>
            }
          </p-panel>
          }
        </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>
    } @else {
    <p-progressSpinner ariaLabel="loading" />
    }
  </div>
</div>