.add-firma {
  .up-firma {
    display: block;
    .drag-drop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2em;
      gap: 2em;
      .icono {
        font-size: 2em;
        padding: 1em;
        border-radius: 50%;
        border: 1px solid var(--p-dialog-border-color);
        background-color: var(--p-highlight-background);
        color: var(--p-primary-400);
        i {
          font-size: 3em;
        }
      }
    }
  }
  .cargando {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grabado {
    display: flex;
    gap: 1em;
    flex-direction: column;
    .firma-final {
      display: flex;
      align-items: flex-start;
      gap: 2em;
      .firma {
        width: 33%;
        max-width: 320px;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
      .datos {
        display: flex;
        flex-direction: column;
        gap: 1em;
        .nombres,
        .apellidos,
        .cargo {
          display: flex;
          gap: 1em;
          & > * {
            display: block;
            &:first-of-type {
              font-weight: 600;
              text-align: right;
              width: 5em;
            }
          }
        }
      }
    }
    .errores {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    .controles {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin: 2em 1em 0;
      gap: 1em;
    }
  }
  ::ng-deep {
    .p-fileupload-highlight {
      background-color: var(--p-navigation-item-icon-color);
    }
  }
}
