<p-card header="Carga de Documentos">
  <div class="carga">
    <div class="header">
      <div class="selector">
        <h4>Seleccione el profesor/a por nombre o cédula</h4>
        <p-autoComplete [formControl]="$any(formulario.get('cedula'))"
                        [suggestions]="profesoresFiltrados"
                        (completeMethod)="filterProfesores($event)"
                        optionLabel="viewValue"
                        [dropdown]="true"
                        [minLength]="1"
                        (onSelect)="selectProfesor($event)"
                        placeholder="Buscar por nombre o cédula">
        </p-autoComplete>
      </div>
      @if (profesorSeleccionado && profesorSeleccionado.length > 0) {
      <div class="nombre">
        <p-avatar icon="pi pi-user"
                  size="large"
                  shape="circle" />
        <div class="profesor">
          <h4>{{profesorSeleccionado[3]}}</h4>
          @if (infoProfesor){
          <p-tag severity="warn"
                 value="Ya en el RUND"
                 icon="pi pi-exclamation-triangle" />
          }
        </div>
      </div>
      }
    </div>
    <div class="cuerpo">
      @if (profesorSeleccionado && profesorSeleccionado.length > 0) {
      <p-splitter [panelSizes]="[35, 65]">
        <ng-template #panel>
          <div class="ficha">
            <mgp-ficha-docente (validado)="datosValidados = $event"
                               (fechaNacimientoEmitida)="onFechaNacimiento($event)"
                               [infoProfesor]="infoProfesor ? infoProfesor.datosDemograficos : {}"
                               [docente]="profesorSeleccionado"
                               [claves]="clavesCSV"
                               [labels]="labelsCSV" />
          </div>
        </ng-template>
        <ng-template #panel>
          <div class="carga-documentos">
            <div class="upload">
              <mgp-carga-documento (documentos)="submitArchivos($event)"
                                   (cleanArchivos)="limpiaLista()"
                                   (todosCargados)="todosCargados()"
                                   [archivosProfesor]="infoProfesor ? infoProfesor.archivosProfesor : []"
                                   [archivosCargados]="archivosYaCargados" />
            </div>
            @if (!datosValidados || datosValidados.length < 1)
              {
              <div
              class="advertencia">
              <p-card class="advertencia-card">
                <div class="advertencia-body">
                  <p-avatar class="avatar"
                            icon="pi pi-exclamation-circle"
                            size="xlarge"
                            shape="circle" />
                  <span class="mensaje">Para poder cargar los documentos, debe validar los datos. </span>
                </div>
              </p-card>
          </div>
          }
    </div>
    </ng-template>
    </p-splitter>
    }
  </div>
  </div>
</p-card>