<p-panel header="Cargar listados"
         [toggleable]="true">
  <!-- El componente <p-fileUpload> requiere que [url] sea la ruta directa, por lo que no pasa por data.ts -->
  <p-fileUpload class="carga-lista"
                name="carga-lista"
                [url]="loadList"
                (onSelect)="seleccionaFile($event)"
                (onClear)="borraFile($event)"
                (onUpload)="cargaFile($event)"
                (uploadHandler)="cargaHandler($event)"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, xlsx, xls"
                uploadLabel="Cargar archivo al sistema"
                cancelLabel="Cancelar"
                chooseLabel="Seleccionar archivo"
                maxFileSize="10000000">
    <ng-template #header
                 let-files
                 let-chooseCallback="chooseCallback"
                 let-uploadCallback="uploadCallback"
                 let-clearCallback="clearCallback">
      <div class="acciones">
        <p-button (click)="acciones($event, chooseCallback)"
                  icon="pi pi-file-excel"
                  [rounded]="true"
                  [disabled]="files && files.length > 0" />
        <p-button (click)="acciones($event, uploadCallback)"
                  icon="pi pi-cloud-upload"
                  [rounded]="true"
                  severity="success"
                  [disabled]="!files || files.length === 0" />
        <p-button id="call-clear-callback"
                  (click)="acciones($event, clearCallback)"
                  icon="pi pi-times"
                  [rounded]="true"
                  severity="danger"
                  [disabled]="!files || files.length === 0" />
      </div>
    </ng-template>
    <ng-template #content
                 let-clearCallback="clearCallback"
                 let-files>
      @for (archivo of files;track $index) {
      <p-card class="carga-resultado">
        <ng-template #header>
          <div class="encabezado">
            @for (prop of listadoProps; track $index) {
            @if (!propsNoVisibles.includes(prop.label)) {
            <div class="columnas mgp-grid">
              <div class="mgp-col-fixed"
                   style="width: 7em">
                <strong>{{prop.label}}:</strong>
              </div>
              <div class="mgp-col datos">
                @if (prop.label == 'Comentario') {
                <input type="text"
                       class="comentario"
                       pInputText
                       [(ngModel)]="varComentario().valor" />
                <small>Escriba un comentario sobre la nueva versión del documento</small>
                } @else {
                <span [innerHTML]="prop.valor"></span>
                @if (prop.label == 'Nombre') {
                <small class="nombre">Nombre normalizado para efectos de registro</small>
                }
                }
              </div>
            </div>
            }
            }
          </div>
        </ng-template>
        <mgp-vista-excel [archivo]="archivo"
                         (emiteCSV)="recibeCSV($event)"
                         (reconoceTipo)="reconoceTipoListado($event)" />
        <ng-template #footer>
          <div class="footer">
            <p-button severity="success"
                      label="Cargar"
                      (click)="cargaFile($event)"
                      icon="pi pi-cloud-upload"
                      class="footer-accion" />
            <p-button severity="danger"
                      label="Cancelar"
                      icon="pi pi-times"
                      (click)="borraFile($event)"
                      class="footer-accion" />
          </div>
        </ng-template>
      </p-card>
      }
    </ng-template>
    <ng-template #file></ng-template>
    <ng-template #empty>
      <div class="cont-label">
        <div class="cont-icon">
          <i class="icon pi pi-cloud-upload"></i>
        </div>
        <p class="label">Arrastre y suelte para cargar el listado en Excel</p>
      </div>
    </ng-template>
  </p-fileUpload>
</p-panel>
<p-confirmDialog class="dialogo-confirmacion" />
<p-dialog [modal]="true"
          [closeOnEscape]="false"
          [closable]="false"
          [draggable]="false"
          [(visible)]="loadingDialog"
          class="dialogo-cargando">
  <div class="cargando">
    <h1>Cargando...</h1>
    <p-progressSpinner ariaLabel="cargando" />
  </div>
</p-dialog>