:host {
  ::ng-deep {
    .p-element {
      &.dialogo-confirmacion {
        .p-dialog-content {
          .p-confirm-dialog-message {
            .mensaje-confirma-reemplazo {
              max-width: 50em;
            }
            .resalto-confirma-reemplazo {
              text-align: center;
              font-weight: 800;
            }
          }
        }
      }
      &.p-button {
        &.separado {
          .pi {
            margin-right: 0.5em;
          }
        }
      }
    }
    p-fileUpload {
      &.carga-lista {
        .carga-resultado {
          .encabezado {
            margin: 0.5rem 1.5rem;
            .columnas {
              gap: 1rem;
              align-items: center;
              .datos {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .comentario {
                  max-width: 30rem;
                  width: 100%;
                }
                .nombre {
                  font-size: 0.75rem;
                  margin-top: -0.5rem;
                  color: var(--p-surface-400);
                }
              }
            }
          }
          .footer {
            display: flex;
            gap: 1rem;
            margin-top: 0.25rem;
            .footer-accion {
              width: 100%;
            }
          }
        }
        .p-fileupload {
          .p-fileupload-header {
            .acciones {
              display: flex;
              flex-wrap: nowrap;
              gap: 1rem;
            }
          }
          .p-fileupload-content {
            .cont-label {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              padding: 3rem;
              gap: 1rem;
              .cont-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                  border: solid 2px;
                  border-radius: 50%;
                  padding: 2rem;
                  font-size: 6rem;
                  color: var(--p-surface-400);
                  border-color: var(--p-surface-200);
                  background-color: var(--p-surface-50);
                  transition: all 500ms ease-in-out;
                }
              }
              .label {
                margin-top: 1.5rem;
                margin-bottom: 0;
              }
            }
            &.p-fileupload-highlight {
              background-color: var(--p-primary-50);
              .cont-label {
                .cont-icon {
                  .icon {
                    color: var(--p-primary-50);
                    border-color: var(--p-primary-400);
                    background-color: var(--p-primary-200);
                    transform: translateY(-1rem);
                  }
                }
                .label {
                  color: var(--p-surface-800);
                }
              }
            }
          }
        }
      }
    }
    .dialogo-cargando {
      .cargando {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
