@if (configLoaded){
<mgp-header />
@if (usuario){
<div class="contenido">
  <div class="menu-lateral">
    <mgp-menu />
  </div>
  @if (tienePermiso()) {
  <div class="content"
       [class.vacio]="!dataVars">
    @if (dataVars){
    <router-outlet />
    } @else {
    <p-progressSpinner ariaLabel="loading" />
    }
  </div>
  } @else {
  <p-card header="¡ATENCIÓN!"
          subheader="Ha ocurrido un error">
    <p>Usted no tiene permisos para acceder a esta sección del RUND.</p>
    <p>Por favor, comuníquese con el administrador del sistema.</p>
    <h3>Seleccione una sección del menú lateral</h3>
  </p-card>
  }
</div>
} @else {
@if (usuario === undefined) {
<div class="autenticandose">
  <h1>Autenticándose con su usuario de ESAP</h1>
  <p-progressSpinner ariaLabel="Cargando credenciales" />
</div>
}
@if (usuario === null) {
<div class="no-autenticado">
  <h1>No se ha autenticado, no hay usuario</h1>
</div>
}
}
}