.borra-documentos {
  display: flex;
  align-items: center;
  justify-content: center;
  .lista-documentos {
    min-width: 50vw;
    min-height: 30vh;
  }
  .vacio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
