<div class="documentos">
  <p-panel class="certificados"
           header="Generar certificados"
           [toggleable]="true">
    <div class="header">
      <div class="filtros">
        <p-floatLabel>
          <p-select [options]="listaCertificados"
                    class="tipo-certificados"
                    [(ngModel)]="certificadoSeleccionado[1]"
                    (ngModelChange)="seleccionaCertificado($event)"
                    inputId="lista-certificados"
                    [group]="true" />
          <label for="lista-certificados">Seleccione un tipo de certificado</label>
        </p-floatLabel>
        <div class="filtros-varios">
          @for (dato of filtros; track $index) {
          @if (dato.type === 'multi') {
          <p-floatLabel>
            <p-multiSelect [options]="dato.options"
                           [(ngModel)]="dato.value"
                           [style]="{'min-width': '16em'}"
                           (ngModelChange)="seleccionaOpcion(dato)"
                           optionLabel="label"
                           inputId="multi-select" />
            <label for="multi-select"
                   [innerHTML]="dato.label"></label>
          </p-floatLabel>
          }
          @if (dato.type === 'select') {
          <p-floatLabel>
            <p-select [options]="dato.options"
                      [(ngModel)]="dato.value"
                      [style]="{'min-width': '16em'}"
                      (ngModelChange)="seleccionaOpcion(dato)"
                      optionLabel="label"
                      inputId="select"
                      [placeholder]="dato.label"
                      [filter]="true"
                      filterBy="label" />
            <label for="select"
                   [innerHTML]="dato.label"></label>
          </p-floatLabel>
          }
          @if (dato.type === 'number' || dato.type === 'text'){
          <input [(ngModel)]="dato.value"
                 [id]="'filtro-' + $index"
                 [type]="dato.type" />
          <label [for]="'filtro-' + $index"
                 [innerHTML]="dato.label">
          </label>
          }
          }
        </div>
      </div>
      <div class="acciones">
        <p-button icon="pi pi-file-word"
                  label="Descargar Word"
                  [disabled]="!preview"
                  (onClick)="descargaCertificado('docx')" />
        <p-button icon="pi pi-file-pdf"
                  label="Descargar PDF"
                  [disabled]="!preview"
                  (onClick)="descargaCertificado('pdf')" />
      </div>
    </div>
    @if (preview) {
    <p-card header="Vista previa del documento"
            class="certificado-card">
      <p-splitter class="certificado-splitter"
                  [panelSizes]="[65, 35]">
        <ng-template pTemplate>
          <mgp-vista-datos style="width:100%"
                           [estructura]="preview.estructura"
                           [listaFirmas]="listaFirmas" />
        </ng-template>
        <ng-template pTemplate>
          <mgp-preview style="width:100%;"
                       [preview]="preview" />
        </ng-template>
      </p-splitter>
    </p-card>
    }
  </p-panel>
</div>