<div class="adicion">
  @if (salida) {
  <div class="salida">
    <div class="icono">
      @if (salida.error) {
      <i class="pi pi-exclamation-triangle"
         style="color: var(--p-tag-danger-color)">
      </i>
      } @else {
      <i class="pi pi-check-circle"
         style="color: var(--p-tag-success-color)">
      </i>
      }
    </div>
    <div class="mensaje">
      <h3>{{salida.mensaje}}</h3>
    </div>
  </div>
  } @else {
  <p-fileupload class="add-file"
                (onSelect)="selecciona($event)"
                (onClear)="elimina()"
                name="adiciona"
                customUpload="true"
                multiple="false"
                maxFileSize="5000000"
                [mode]="'advanced'"
                fileLimit="1"
                accept=".jpg, .png, .pdf, .jpeg, .xlsx, .xls, .doc, .docx, .ppt, .pptx">
    <ng-template #header
                 let-clearCallback="clearCallback"
                 let-chooseCallback="chooseCallback">
      <div class="acciones">
        <p-button icon="pi pi-search"
                  [disabled]="archivo"
                  label="Examinar"
                  (onClick)="chooseCallback($event)" />
        <p-button icon="pi pi-upload"
                  [disabled]="!archivo || !categoria || (esReemplazo && !comentario)"
                  label="Añadir"
                  severity="info"
                  (onClick)="adicion()" />
        <p-button icon="pi pi-times"
                  [disabled]="!archivo"
                  label="Cancelar"
                  severity="danger"
                  (onClick)="clearCallback()" />
      </div>
    </ng-template>
    <ng-template #content>
      @if (archivo) {
      @if (prevista) {
      <div class="prevista">
        <div class="miniatura">
          <img [src]="prevista.miniaturaURL" />
        </div>
        <div class="datos">
          <div class="dato nombre">
            <h5>Nombre:</h5>
            <p>{{prevista.nombre}}</p>
          </div>
          <div class="dato peso">
            <h5>Tamaño:</h5>
            <p>{{prevista.peso}}</p>
          </div>
          <div class="dato categoria">
            <h5>Tipo de documento:</h5>
            <p-select class="selecciona-categoria"
                      [options]="carpetas"
                      size="small"
                      optionLabel="label"
                      optionValue="categoria"
                      [(ngModel)]="categoria" />
          </div>
          <div class="dato formato">
            <h5>Formato:</h5>
            <p>{{mimeTypes[archivo.type]}}</p>
          </div>
          @if (esReemplazo){
          <div class="dato comentario">
            <h5>Comentario:</h5>
            <small>
              Este documento ya existe en la hoja de vida.
              <br>
              Debe crear un comentario para justificar el reemplazo.
            </small>
            <textarea type="text"
                      pTextarea
                      placeholder="Justifique el reemplazo"
                      rows="4"
                      fluid="true"
                      [(ngModel)]="comentario">
            </textarea>
          </div>
          }
        </div>
      </div>
      } @else {
      <div class="cargando">
        <p-progress-spinner strokeWidth="8"
                            fill="transparent"
                            animationDuration="1s"
                            class="spinner" />
        <span>Cargando miniatura...</span>
      </div>
      }
      }
    </ng-template>
    <ng-template #file></ng-template>
    <ng-template #empty>
      <div class="drag-drop">
        <div class="icono">
          <i class="pi pi-cloud-upload"></i>
        </div>
        <div class="texto">
          Arrastre y suelte un documento para añadirlo a la hoja de vida.
        </div>
      </div>
    </ng-template>
  </p-fileupload>
  }
</div>