.consultas {
  .paneles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    .categorias {
      .descargar {
        margin-right: 0.5rem;
      }
      .contenido-panel-categorias {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        .variables {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-content: space-between;
          gap: 2rem;
          padding-top: 1rem;
        }
        .dataTabla {
          .encabezado {
            font-size: 1.125rem;
            text-align: center;
          }
          .celda-primera-columna {
            font-weight: 700;
          }
        }
      }
    }
  }
}
.esperando {
  .dialogo-esperando {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 4rem;
  }
}
