<div class="consultas">
  <h5>Realice una consulta seleccionando dos variables, las cuales se cruzarán en un gráfico de barras vertical.</h5>
  <div class="paneles">
    @for (panel of dataConsulta; let nPanel = $index; track nPanel) {
    <p-panel class="categorias"
             [class.vacio]="!panel.opciones"
             [toggleable]="true"
             [header]="panel.label">
      <ng-template #icons>
        <p-button class="p-panel-header-icon p-link descargar"
                  [disabled]="!panel.dataChart.nombre"
                  (click)="menu.toggle($event)">
          <span class="pi pi-download"></span>
        </p-button>
        <p-menu #menu
                id="config_menu"
                (onShow)="numPanel = nPanel"
                [model]="menuDescarga"
                [popup]="true" />
      </ng-template>
      @if (datosSuficientes){
      @if (panel.opciones) {
      <div class="contenido-panel-categorias">
        <div class="variables">
          @for (eje of panel.seleccion; track $index; let index = $index) {
          <p-floatlabel>
            <p-select [options]="panel.opciones"
                      [(ngModel)]="panel.seleccion[index]"
                      [group]="true"
                      (ngModelChange)="creaTabla(panel)"
                      style="min-width: 20em;"
                      inputId="float-label">
              <ng-template #group
                           let-group>
                <span class="pi pi-list"></span>
                <span style="white-space: nowrap; margin-left: 1rem">
                  {{group.label}}
                </span>
              </ng-template>
              <ng-template #item
                           let-item>
                <span>{{item.label}}</span>
              </ng-template>
            </p-select>
            <label for="float-label">{{placeholders[index]}}</label>
          </p-floatlabel>
          }
        </div>
        @if (!panel.dataTabla && !panel.seleccion.includes('')){
        <p-progressSpinner ariaLabel="loading" />
        }
        @if (panel.dataTabla) {
        <div class="dataTabla">
          <p-table [value]="panel.dataTabla.filas"
                   class="p-datatable-gridlines">
            <ng-template #header>
              <tr>
                <th class="encabezado"
                    rowspan="2">
                  {{panel.dataTabla.nomFil}}
                </th>
                <th class="encabezado"
                    [attr.colspan]="panel.dataTabla.cols.length">
                  {{panel.dataTabla.nomCol}}
                </th>
              </tr>
              <tr>
                @for (col of panel.dataTabla.cols; track $index){
                <th>{{col}}</th>
                }
              </tr>
            </ng-template>
            <ng-template #body
                         let-item>
              <tr>
                <td class="celda-primera-columna">{{item.label}}</td>
                @for (dataFila of item.data; track $index) {
                <td>{{dataFila}}</td>
                }
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="chart">
          <mgp-chart [data]="panel.dataChart" />
        </div>
        }
      </div>
      } @else {
      <p-progressSpinner ariaLabel="loading" />
      }
      } @else {
      <div class="no-suficiente">
        <div class="texto">
          No hay suficientes datos para mostrar los gráficos.
        </div>
      </div>
      }
    </p-panel>
    }
  </div>
</div>
<p-dialog class="esperando"
          modal="true"
          closeOnEscape="false"
          [(visible)]="esperando">
  <ng-template #headless>
    <div class="dialogo-esperando">
      <p-progressbar mode="indeterminate"
                     [style]="{height: '4px'}"
                     class="w-full" />
      <span [innerHTML]="mensajeEspera | safe: 'html'"></span>
    </div>
  </ng-template>
</p-dialog>